In [1]:
import pandas as pd

In [2]:
data_2016=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2016.csv",encoding='ISO-8859-1', sep=';')
data_2017=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2017.csv",encoding='ISO-8859-1', sep=';')
data_2018=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2018.csv",encoding='ISO-8859-1', sep=';')
data_2019=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2019.csv",encoding='ISO-8859-1', sep=';')
data_2020=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2020.csv",encoding='ISO-8859-1', sep=';')
data_2021=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2021.csv",encoding='ISO-8859-1', sep=';')
data_2022=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2022.csv",encoding='ISO-8859-1', sep=';')
data_2023=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2023.csv",encoding='ISO-8859-1', sep=';')

In [3]:
print(len(data_2016.columns))
print(len(data_2017.columns))
print(len(data_2018.columns))
print(len(data_2019.columns))
print(len(data_2020.columns))
print(len(data_2021.columns))
print(len(data_2022.columns))
print(len(data_2023.columns))

26
26
26
26
26
26
26
26

In [4]:
renameDict = {'Schluesselzahl der Tat':'Schluessel','Gemeindeschl√ºssel':'Gemeindeschluessel','Tatverdaechtige insgesamt - Anzahl':'gesamt','Kinder bis unter 6 Jahre - Anzahl':'Alter_unter_6','Kinder 6 bis unter 8 Jahre Anzahl':'Alter_6_bis_8','Kinder 8 bis unter 10 Jahre - Anzahl':'Alter_8_bis_10','Kinder 10 bis unter 12 Jahre - Anzahl':'Alter_10_bis_12',
       'Kinder 12 bis unter 14 Jahre - Anzahl':'Alter_12_bis_14',
       'Kinder bis unter 14 Jahre insgesamt (Anzahl Spalte 5 bis 9)':'Kinder_gesamt',
        'Kinder bis unter 14 Jahre insgesamt (Anzahl Spalte 7 bis 11)':'Kinder_gesamt',
       'Jugendliche 14 bis unter 16 Jahre - Anzahl':'Alter_14_bis_16',
       'Jugendliche 16 bis unter 18 Jahre - Anzahl':'Alter_16_bis_18',
       'Jugendliche 14 bis unter 18 Jahre insgesamt (Anzahl Spalte 11 und 12)':'Jugendliche_gesamt',
              'Jugendliche 14 bis unter 18 Jahre insgesamt (Anzahl Spalte 13 und 14)':'Jugendliche_gesamt',
       'Heranwachsende 18 bis unter 21 Jahre - Anzahl':'Alter_18_bis_21',
       'Tatverdaechtige insgesamt unter 21 Jahre (Anzahl Spalte 10, 13 und 14)':'unter_21_gesamt',
              'Tatverdaechtige insgesamt unter 21 Jahre (Anzahl Spalte 12, 15 und 16)':'unter_21_gesamt',
       'Erwachsene 21 bis unter 23 Jahre - Anzahl':'Alter_21_bis_23',
       'Erwachsene 23 bis unter 25 Jahre - Anzahl':'Alter_23_bis_25',
       'Erwachsene 21 bis unter 25 Jahre (Anzahl Spalte 16 und 17)':'Alter_21_bis_25',
              'Erwachsene 21 bis unter 25 Jahre (Anzahl Spalte 18 und 19)':'Alter_21_bis_25',
       'Erwachsene 25 bis unter 30 Jahre':'Alter_25_bis_30', 'Erwachsene 30 bis unter 40 Jahre':'Alter_30_bis_40',
       'Erwachsene 40 bis unter 50 Jahre':'Alter_40_bis_50', 'Erwachsene 50 bis unter 60 Jahre':'Alter_50_bis_60',
       'Erwachsene 60 Jahre und aelter':'Alter_ueber_60',
       'Erwachsene ab 21 Jahre (Anzahl Spalten 18 bis 23)':'Erwachsene_gesamt',
              'Erwachsene ab 21 Jahre (Anzahl Spalten 20 bis 25)':'Erwachsene_gesamt'}
data_2016 = data_2016.rename(columns=renameDict)
data_2017 = data_2017.rename(columns=renameDict)
data_2018 = data_2018.rename(columns=renameDict)
data_2019 = data_2019.rename(columns=renameDict)
data_2020 = data_2020.rename(columns=renameDict)
data_2021 = data_2021.rename(columns=renameDict)
data_2022 = data_2022.rename(columns=renameDict)
data_2023 = data_2023.rename(columns=renameDict)

In [5]:
data_2016["Jahr"]=2016
data_2017["Jahr"]=2017
data_2018["Jahr"]=2018
data_2019["Jahr"]=2019
data_2020["Jahr"]=2020
data_2021["Jahr"]=2021
data_2022["Jahr"]=2022
data_2023["Jahr"]=2023
print(data_2023.head())

  Schluessel              Straftat  Gemeindeschluessel     Stadt Sexus  \
0     ------  Straftaten insgesamt             5334002    Aachen     M
1     ------  Straftaten insgesamt             5334002    Aachen     W
2     ------  Straftaten insgesamt             5334002    Aachen     X
3     ------  Straftaten insgesamt             9761000  Augsburg     M
4     ------  Straftaten insgesamt             9761000  Augsburg     W

   gesamt  Alter_unter_6  Alter_6_bis_8  Alter_8_bis_10 Alter_10_bis_12  ...  \
0  10,065             15             15              25              48  ...
1   2,749             16              5              10              28  ...
2  12,814             31             20              35              76  ...
3   8,910              0             14              39              93  ...
4   3,040              2              3               8              42  ...

  Alter_21_bis_23 Alter_23_bis_25 Alter_21_bis_25 Alter_25_bis_30  \
0             646             706           1,352           1,572
1             120             108             228             265
2             766             814           1,580           1,837
3             646             665           1,311           1,268
4             152             132             284             300

  Alter_30_bis_40 Alter_40_bis_50 Alter_50_bis_60 Alter_ueber_60  \
0           2,374           1,377             801            492
1             550             385             264            188
2           2,924           1,762           1,065            680
3           1,808           1,217             754            498
4             640             443             280            214

  Erwachsene_gesamt  Jahr
0             7,968  2023
1             1,880  2023
2             9,848  2023
3             6,856  2023
4             2,161  2023

[5 rows x 27 columns]

In [6]:
data_2016.to_csv("Tatverdaechtige_2016_clean.csv",index=False)
data_2017.to_csv("Tatverdaechtige_2017_clean.csv",index=False)
data_2018.to_csv("Tatverdaechtige_2018_clean.csv",index=False)
data_2019.to_csv("Tatverdaechtige_2019_clean.csv",index=False)
data_2020.to_csv("Tatverdaechtige_2020_clean.csv",index=False)
data_2021.to_csv("Tatverdaechtige_2021_clean.csv",index=False)
data_2022.to_csv("Tatverdaechtige_2022_clean.csv",index=False)
data_2023.to_csv("Tatverdaechtige_2023_clean.csv",index=False)

In [7]:
print(len(data_2016))
print(len(data_2017))
print(len(data_2018))
print(len(data_2019))
print(len(data_2020))
print(len(data_2021))
print(len(data_2022))
print(len(data_2023))

9840
9963
10206
10332
10332
10209
10332
10209

In [8]:
combined_df = pd.concat([data_2016,data_2017,data_2018,data_2019,data_2020,data_2021,data_2022,data_2023], ignore_index=True)

In [9]:
numeric_columns = ["Schluessel","Gemeindeschluessel","gesamt","Alter_unter_6","Alter_6_bis_8","Alter_8_bis_10","Alter_10_bis_12",'Alter_12_bis_14', 'Kinder_gesamt',
       'Alter_14_bis_16', 'Alter_16_bis_18', 'Jugendliche_gesamt',
       'Alter_18_bis_21', 'unter_21_gesamt', 'Alter_21_bis_23',
       'Alter_23_bis_25', 'Alter_21_bis_25', 'Alter_25_bis_30',
       'Alter_30_bis_40', 'Alter_40_bis_50', 'Alter_50_bis_60',
       'Alter_ueber_60', 'Erwachsene_gesamt']
for column in numeric_columns:
    combined_df[column] = pd.to_numeric(combined_df[column].astype(str).str.replace(",", ""), errors="coerce")
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81423 entries, 0 to 81422
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Schluessel          57807 non-null  float64
 1   Straftat            81423 non-null  object
 2   Gemeindeschluessel  81423 non-null  int64
 3   Stadt               81423 non-null  object
 4   Sexus               81423 non-null  object
 5   gesamt              81423 non-null  int64
 6   Alter_unter_6       81423 non-null  int64
 7   Alter_6_bis_8       81423 non-null  int64
 8   Alter_8_bis_10      81423 non-null  int64
 9   Alter_10_bis_12     81423 non-null  int64
 10  Alter_12_bis_14     81423 non-null  int64
 11  Kinder_gesamt       81423 non-null  int64
 12  Alter_14_bis_16     81423 non-null  int64
 13  Alter_16_bis_18     81423 non-null  int64
 14  Jugendliche_gesamt  81423 non-null  int64
 15  Alter_18_bis_21     81423 non-null  int64
 16  unter_21_gesamt     81423 non-null  int64
 17  Alter_21_bis_23     81423 non-null  int64
 18  Alter_23_bis_25     81423 non-null  int64
 19  Alter_21_bis_25     81423 non-null  int64
 20  Alter_25_bis_30     81423 non-null  int64
 21  Alter_30_bis_40     81423 non-null  int64
 22  Alter_40_bis_50     81423 non-null  int64
 23  Alter_50_bis_60     81423 non-null  int64
 24  Alter_ueber_60      81423 non-null  int64
 25  Erwachsene_gesamt   81423 non-null  int64
 26  Jahr                81423 non-null  int64
dtypes: float64(1), int64(23), object(3)
memory usage: 16.8+ MB
None

In [11]:
print(combined_df.head())

   Schluessel              Straftat  Gemeindeschluessel              Stadt  \
0         NaN  Straftaten insgesamt             5334002             Aachen
1         NaN  Straftaten insgesamt             9761000           Augsburg
2         NaN  Straftaten insgesamt             5378004  Bergisch Gladbach
3         NaN  Straftaten insgesamt            11000000             Berlin
4         NaN  Straftaten insgesamt             5711000          Bielefeld

  Sexus  gesamt  Alter_unter_6  Alter_6_bis_8  Alter_8_bis_10  \
0     M    8965             12              4              16
1     M    8361              1              8              22
2     M    2053              0              0               5
3     M  109319            201            207             428
4     M    9176              3              2              22

   Alter_10_bis_12  ...  Alter_21_bis_23  Alter_23_bis_25  Alter_21_bis_25  \
0               30  ...              684              636             1320
1               40  ...              647              603             1250
2                7  ...              129              106              235
3              761  ...             6360             6382            12742
4               42  ...              686              662             1348

   Alter_25_bis_30  Alter_30_bis_40  Alter_40_bis_50  Alter_50_bis_60  \
0             1432             1778             1155              723
1             1219             1737             1174              705
2              269              392              359              188
3            17013            25936            17197            10859
4             1490             1965             1267              713

   Alter_ueber_60  Erwachsene_gesamt  Jahr
0             404               6812  2016
1             447               6532  2016
2             149               1592  2016
3            6212              89959  2016
4             403               7186  2016

[5 rows x 27 columns]

In [10]:
combined_df.to_csv("Tatverdaechtige_combined_clean.csv",index=False)