In [1]:
import pandas as pd

In [2]:
data_2016=pd.read_csv("Victims_2016.csv",encoding='ISO-8859-1', sep=';')

In [4]:
data_2016 = data_2016.rename(columns={'Schluesselzahl der Tat': 'Schluessel', 'Gemeindeschl√ºssel': 'Gemeindeschluessel'})
print(data_2016.head())

  Schluessel              Straftat  Gemeindeschluessel              Stadt  \
0     ------  Straftaten insgesamt             5334002             Aachen
1     ------  Straftaten insgesamt             9761000           Augsburg
2     ------  Straftaten insgesamt             5378004  Bergisch Gladbach
3     ------  Straftaten insgesamt            11000000             Berlin
4     ------  Straftaten insgesamt             5711000          Bielefeld

  Fallstatus Opfer insgesamt - Anzahl Opfer insgesamt maennlich- Anzahl  \
0      voll.                    4,334                             2,672
1      voll.                    4,601                             2,922
2      voll.                    1,228                               670
3      voll.                   71,286                            43,825
4      voll.                    4,245                             2,412

  Opfer insgesamt weiblich- Anzahl  Kinder bis unter 6 Jahre - Anzahl  \
0                            1,662                                 17
1                            1,679                                 29
2                              558                                  7
3                           27,461                                794
4                            1,833                                 29

   Kinder bis unter 6 Jahre maennlich- Anzahl  ...  \
0                                          13  ...
1                                          11  ...
2                                           1  ...
3                                         419  ...
4                                          16  ...

   Erwachsene 40 bis unter 50 Jahre - weiblich  \
0                                          287
1                                          242
2                                          100
3                                        4,362
4                                          265

   Erwachsene 50 bis unter 60 Jahre  \
0                               431
1                               395
2                               142
3                             7,544
4                               385

   Erwachsene 50 bis unter 60 Jahre - maennlich  \
0                                           277
1                                           269
2                                            78
3                                         4,899
4                                           262

   Erwachsene 50 bis unter 60 Jahre - weiblich  \
0                                          154
1                                          126
2                                           64
3                                        2,645
4                                          123

   Erwachsene 60 Jahre und aelter  Erwachsene 60 Jahre und aelter - maennlich  \
0                             274                                         166
1                             209                                         121
2                             108                                          58
3                           4,173                                       2,331
4                             214                                         119

   Erwachsene 60 Jahre und aelter - weiblich Erwachsene ab 21 Jahre  \
0                                        108                  3,472
1                                         88                  3,598
2                                         50                    983
3                                      1,842                 56,912
4                                         95                  3,357

   Erwachsene ab 21 Jahre - maennlich  Erwachsene ab 21 Jahre - weiblich
0                               2,158                              1,314
1                               2,317                              1,281
2                                 534                                449
3                              35,275                             21,637
4                               1,908                              1,449

[5 rows x 68 columns]

In [5]:
data_2016 = data_2016.rename(columns={'Opfer insgesamt - Anzahl': 'Oper insgesamt', 'Opfer insgesamt maennlich- Anzahl': 'Opfer maennlich', "Opfer insgesamt weiblich- Anzahl":"Opfer weiblich","Kinder bis unter 6 Jahre - Anzahl":"Opfer - Kinder bis unter 6 Jahre - insgesamt","Kinder bis unter 6 Jahre maennlich- Anzahl":"Opfer - Kinder bis unter 6 Jahre - maennlich","Kinder bis unter 6 Jahre weiblich - Anzahl":"Opfer - Kinder bis unter 6 Jahre - weiblich","Kinder bis unter 14 Jahre insgesamt":"Opfer Kinder bis 14 Jahre- insgesamt","Kinder bis unter 14 Jahre insgesamt maennlich":"Opfer Kinder bis 14 Jahre- maennlich","Kinder bis unter 14 Jahre insgesamt weiblich":"Opfer Kinder bis 14 Jahre- weiblich","Jugendliche 14 bis unter 18 Jahre insgesamt":"Opfer Jugendliche 14 bis unter 18 Jahre - insgesamt","Jugendliche 14 bis unter 18 Jahre insgesamt - maennlich":"Opfer Jugendliche 14 bis unter 18 Jahre - maennlich","Jugendliche 14 bis unter 18 Jahre insgesamt - weiblich":"Opfer Jugendliche 14 bis unter 18 Jahre - weiblich","Heranwachsende 18 bis unter 21 Jahre - Anzahl":"Opfer - Heranwachsende 18 bis unter 21 Jahre - insgesamt","Heranwachsende 18 bis unter 21 Jahre maennlich - Anzahl":"Opfer - Heranwachsende 18 bis unter 21 Jahre - maennlich","Heranwachsende 18 bis unter 21 Jahre weiblich - Anzahl":"Opfer - Heranwachsende 18 bis unter 21 Jahre - weiblich","Erwachsene 60 Jahre und aelter":"Opfer - Erwachsene 60 Jahre und aelter - insgesamt","Erwachsene 60 Jahre und aelter - maennlich":"Opfer - Erwachsene 60 Jahre und aelter - maennlich","Erwachsene 60 Jahre und aelter - weiblich":"Opfer - Erwachsene 60 Jahre und aelter - weiblich","Erwachsene ab 21 Jahre":"Opfer Erwachsene - insgesamt","Erwachsene ab 21 Jahre - maennlich":"Opfer Erwachsene - maennlich","Erwachsene ab 21 Jahre - weiblich":"Opfer Erwachsene - weiblich"})

In [6]:
print(len(data_2016.columns))
print(data_2016.head())

68
  Schluessel              Straftat  Gemeindeschluessel              Stadt  \
0     ------  Straftaten insgesamt             5334002             Aachen
1     ------  Straftaten insgesamt             9761000           Augsburg
2     ------  Straftaten insgesamt             5378004  Bergisch Gladbach
3     ------  Straftaten insgesamt            11000000             Berlin
4     ------  Straftaten insgesamt             5711000          Bielefeld

  Fallstatus Oper insgesamt Opfer maennlich Opfer weiblich  \
0      voll.          4,334           2,672          1,662
1      voll.          4,601           2,922          1,679
2      voll.          1,228             670            558
3      voll.         71,286          43,825         27,461
4      voll.          4,245           2,412          1,833

   Opfer - Kinder bis unter 6 Jahre - insgesamt  \
0                                            17
1                                            29
2                                             7
3                                           794
4                                            29

   Opfer - Kinder bis unter 6 Jahre - maennlich  ...  \
0                                            13  ...
1                                            11  ...
2                                             1  ...
3                                           419  ...
4                                            16  ...

   Erwachsene 40 bis unter 50 Jahre - weiblich  \
0                                          287
1                                          242
2                                          100
3                                        4,362
4                                          265

   Erwachsene 50 bis unter 60 Jahre  \
0                               431
1                               395
2                               142
3                             7,544
4                               385

   Erwachsene 50 bis unter 60 Jahre - maennlich  \
0                                           277
1                                           269
2                                            78
3                                         4,899
4                                           262

   Erwachsene 50 bis unter 60 Jahre - weiblich  \
0                                          154
1                                          126
2                                           64
3                                        2,645
4                                          123

   Opfer - Erwachsene 60 Jahre und aelter - insgesamt  \
0                                                274
1                                                209
2                                                108
3                                              4,173
4                                                214

   Opfer - Erwachsene 60 Jahre und aelter - maennlich  \
0                                                166
1                                                121
2                                                 58
3                                              2,331
4                                                119

   Opfer - Erwachsene 60 Jahre und aelter - weiblich  \
0                                                108
1                                                 88
2                                                 50
3                                              1,842
4                                                 95

  Opfer Erwachsene - insgesamt  Opfer Erwachsene - maennlich  \
0                        3,472                         2,158
1                        3,598                         2,317
2                          983                           534
3                       56,912                        35,275
4                        3,357                         1,908

   Opfer Erwachsene - weiblich
0                        1,314
1                        1,281
2                          449
3                       21,637
4                        1,449

[5 rows x 68 columns]

In [7]:
data_2016["Jahr"]=2016
print(data_2016.head())

  Schluessel              Straftat  Gemeindeschluessel              Stadt  \
0     ------  Straftaten insgesamt             5334002             Aachen
1     ------  Straftaten insgesamt             9761000           Augsburg
2     ------  Straftaten insgesamt             5378004  Bergisch Gladbach
3     ------  Straftaten insgesamt            11000000             Berlin
4     ------  Straftaten insgesamt             5711000          Bielefeld

  Fallstatus Oper insgesamt Opfer maennlich Opfer weiblich  \
0      voll.          4,334           2,672          1,662
1      voll.          4,601           2,922          1,679
2      voll.          1,228             670            558
3      voll.         71,286          43,825         27,461
4      voll.          4,245           2,412          1,833

   Opfer - Kinder bis unter 6 Jahre - insgesamt  \
0                                            17
1                                            29
2                                             7
3                                           794
4                                            29

   Opfer - Kinder bis unter 6 Jahre - maennlich  ...  \
0                                            13  ...
1                                            11  ...
2                                             1  ...
3                                           419  ...
4                                            16  ...

   Erwachsene 50 bis unter 60 Jahre  \
0                               431
1                               395
2                               142
3                             7,544
4                               385

   Erwachsene 50 bis unter 60 Jahre - maennlich  \
0                                           277
1                                           269
2                                            78
3                                         4,899
4                                           262

   Erwachsene 50 bis unter 60 Jahre - weiblich  \
0                                          154
1                                          126
2                                           64
3                                        2,645
4                                          123

   Opfer - Erwachsene 60 Jahre und aelter - insgesamt  \
0                                                274
1                                                209
2                                                108
3                                              4,173
4                                                214

   Opfer - Erwachsene 60 Jahre und aelter - maennlich  \
0                                                166
1                                                121
2                                                 58
3                                              2,331
4                                                119

   Opfer - Erwachsene 60 Jahre und aelter - weiblich  \
0                                                108
1                                                 88
2                                                 50
3                                              1,842
4                                                 95

   Opfer Erwachsene - insgesamt Opfer Erwachsene - maennlich  \
0                         3,472                        2,158
1                         3,598                        2,317
2                           983                          534
3                        56,912                       35,275
4                         3,357                        1,908

   Opfer Erwachsene - weiblich  Jahr
0                        1,314  2016
1                        1,281  2016
2                          449  2016
3                       21,637  2016
4                        1,449  2016

[5 rows x 69 columns]

In [8]:
# Print the index of all columns
for idx, col in enumerate(data_2016.columns):
    print(f"Index of column '{col}': {idx}")

Index of column 'Schluessel': 0
Index of column 'Straftat': 1
Index of column 'Gemeindeschluessel': 2
Index of column 'Stadt': 3
Index of column 'Fallstatus': 4
Index of column 'Oper insgesamt': 5
Index of column 'Opfer maennlich': 6
Index of column 'Opfer weiblich': 7
Index of column 'Opfer - Kinder bis unter 6 Jahre - insgesamt': 8
Index of column 'Opfer - Kinder bis unter 6 Jahre - maennlich': 9
Index of column 'Opfer - Kinder bis unter 6 Jahre - weiblich': 10
Index of column 'Kinder 6 bis unter 8 Jahre Anzahl': 11
Index of column 'Kinder 6 bis unter 8 Jahre maennlich - Anzahl': 12
Index of column 'Kinder 6 bis unter 8 Jahre weiblich - Anzahl': 13
Index of column 'Kinder 8 bis unter 10 Jahre - Anzahl': 14
Index of column 'Kinder 8 bis unter 10 Jahre maennlich - Anzahl': 15
Index of column 'Kinder 8 bis unter 10 Jahre weiblich - Anzahl': 16
Index of column 'Kinder 10 bis unter 12 Jahre - Anzahl': 17
Index of column 'Kinder 10 bis unter 12 Jahre maennlich- Anzahl': 18
Index of column 'Kinder 10 bis unter 12 Jahre weiblich - Anzahl': 19
Index of column 'Kinder 12 bis unter 14 Jahre - Anzahl': 20
Index of column 'Kinder 12 bis unter 14 Jahre maennlich - Anzahl': 21
Index of column 'Kinder 12 bis unter 14 Jahre weiblich - Anzahl': 22
Index of column 'Opfer Kinder bis 14 Jahre- insgesamt': 23
Index of column 'Opfer Kinder bis 14 Jahre- maennlich': 24
Index of column 'Opfer Kinder bis 14 Jahre- weiblich': 25
Index of column 'Jugendliche 14 bis unter 16 Jahre - Anzahl': 26
Index of column 'Jugendliche 14 bis unter 16 Jahre maennlich - Anzahl': 27
Index of column 'Jugendliche 14 bis unter 16 Jahre weiblich - Anzahl': 28
Index of column 'Jugendliche 16 bis unter 18 Jahre - Anzahl': 29
Index of column 'Jugendliche 16 bis unter 18 Jahre maennlich - Anzahl': 30
Index of column 'Jugendliche 16 bis unter 18 Jahre weiblich - Anzahl': 31
Index of column 'Opfer Jugendliche 14 bis unter 18 Jahre - insgesamt': 32
Index of column 'Opfer Jugendliche 14 bis unter 18 Jahre - maennlich': 33
Index of column 'Opfer Jugendliche 14 bis unter 18 Jahre - weiblich': 34
Index of column 'Opfer - Heranwachsende 18 bis unter 21 Jahre - insgesamt': 35
Index of column 'Opfer - Heranwachsende 18 bis unter 21 Jahre - maennlich': 36
Index of column 'Opfer - Heranwachsende 18 bis unter 21 Jahre - weiblich': 37
Index of column 'Opfer insgesamt unter 21 Jahre': 38
Index of column 'Opfer insgesamt unter 21 Jahre - maennlich': 39
Index of column 'Opfer insgesamt unter 21 Jahre - weiblich': 40
Index of column 'Erwachsene 21 bis unter 23 Jahre - Anzahl': 41
Index of column 'Erwachsene 21 bis unter 23 Jahre maennlich - Anzahl': 42
Index of column 'Erwachsene 21 bis unter 23 Jahre weiblich - Anzahl': 43
Index of column 'Erwachsene 23 bis unter 25 Jahre - Anzahl': 44
Index of column 'Erwachsene 23 bis unter 25 Jahre maennlich- Anzahl': 45
Index of column 'Erwachsene 23 bis unter 25 Jahre weiblich - Anzahl': 46
Index of column 'Erwachsene 21 bis unter 25 Jahre': 47
Index of column 'Erwachsene 21 bis unter 25 Jahre - maennlich': 48
Index of column 'Erwachsene 21 bis unter 25 Jahre - weiblich': 49
Index of column 'Erwachsene 25 bis unter 30 Jahre': 50
Index of column 'Erwachsene 25 bis unter 30 Jahre - maennlich': 51
Index of column 'Erwachsene 25 bis unter 30 Jahre - weiblich': 52
Index of column 'Erwachsene 30 bis unter 40 Jahre': 53
Index of column 'Erwachsene 30 bis unter 40 Jahre - maennlich': 54
Index of column 'Erwachsene 30 bis unter 40 Jahre - weiblich': 55
Index of column 'Erwachsene 40 bis unter 50 Jahre': 56
Index of column 'Erwachsene 40 bis unter 50 Jahre - maennlich': 57
Index of column 'Erwachsene 40 bis unter 50 Jahre - weiblich': 58
Index of column 'Erwachsene 50 bis unter 60 Jahre': 59
Index of column 'Erwachsene 50 bis unter 60 Jahre - maennlich': 60
Index of column 'Erwachsene 50 bis unter 60 Jahre - weiblich': 61
Index of column 'Opfer - Erwachsene 60 Jahre und aelter - insgesamt': 62
Index of column 'Opfer - Erwachsene 60 Jahre und aelter - maennlich': 63
Index of column 'Opfer - Erwachsene 60 Jahre und aelter - weiblich': 64
Index of column 'Opfer Erwachsene - insgesamt': 65
Index of column 'Opfer Erwachsene - maennlich': 66
Index of column 'Opfer Erwachsene - weiblich': 67
Index of column 'Jahr': 68

In [9]:
for col in data_2016.columns[5:67]:  
    data_2016[col] = pd.to_numeric(
        data_2016[col].astype(str).str.replace(',', '.'), 
        errors='coerce'
    )

In [10]:
data_2016["Opfer Kinder 6 bis unter 14 Jahre - insgesamt"]=(
    data_2016["Kinder 6 bis unter 8 Jahre Anzahl"] +
    data_2016["Kinder 8 bis unter 10 Jahre - Anzahl"] +
    data_2016["Kinder 10 bis unter 12 Jahre - Anzahl"] +
    data_2016["Kinder 12 bis unter 14 Jahre - Anzahl"])

In [11]:
print(data_2016["Opfer Kinder 6 bis unter 14 Jahre - insgesamt"])

0        165.000
1        200.000
2         53.000
3       1322.861
4        148.000
          ...
3115       0.000
3116       0.000
3117       1.000
3118       0.000
3119       0.000
Name: Opfer Kinder 6 bis unter 14 Jahre - insgesamt, Length: 3120, dtype: float64

In [12]:
data_2016["Opfer Kinder 6  bis unter 14 Jahre - maennlich"]=(
    data_2016["Kinder 6 bis unter 8 Jahre maennlich - Anzahl"] +
    data_2016["Kinder 8 bis unter 10 Jahre maennlich - Anzahl"] +
    data_2016["Kinder 10 bis unter 12 Jahre maennlich- Anzahl"] +
    data_2016["Kinder 12 bis unter 14 Jahre maennlich - Anzahl"])

In [13]:
data_2016["Opfer Kinder 6  bis unter 14 Jahre - weiblich"]=(
    data_2016["Kinder 6 bis unter 8 Jahre weiblich - Anzahl"] +
    data_2016["Kinder 8 bis unter 10 Jahre weiblich - Anzahl"] +
    data_2016["Kinder 10 bis unter 12 Jahre weiblich - Anzahl"] +
    data_2016["Kinder 12 bis unter 14 Jahre weiblich - Anzahl"])

In [14]:
print(data_2016["Opfer Kinder 6  bis unter 14 Jahre - maennlich"])
print(data_2016["Opfer Kinder 6  bis unter 14 Jahre - weiblich"])

0         89.000
1        112.000
2         28.000
3       1513.059
4         88.000
          ...
3115       0.000
3116       0.000
3117       1.000
3118       0.000
3119       0.000
Name: Opfer Kinder 6  bis unter 14 Jahre - maennlich, Length: 3120, dtype: float64
0         76
1         88
2         25
3       1610
4         60
        ...
3115       0
3116       0
3117       0
3118       0
3119       0
Name: Opfer Kinder 6  bis unter 14 Jahre - weiblich, Length: 3120, dtype: int64