In [1]:
import pandas as pd

In [4]:
data_2014=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2014.csv",encoding='ISO-8859-1', sep=';')
data_2015=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2015.csv",encoding='ISO-8859-1', sep=';')
data_2016=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2016.csv",encoding='ISO-8859-1', sep=';')
data_2017=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2017.csv",encoding='ISO-8859-1', sep=';')
data_2018=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2018.csv",encoding='ISO-8859-1', sep=';')
data_2019=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2019.csv",encoding='ISO-8859-1', sep=';')
data_2020=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2020.csv",encoding='ISO-8859-1', sep=';')
data_2021=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2021.csv",encoding='ISO-8859-1', sep=';')
data_2022=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2022.csv",encoding='ISO-8859-1', sep=';')
data_2023=pd.read_csv("Tatverdaechtige_Tabelle/Tatverdaechtige_2023.csv",encoding='ISO-8859-1', sep=';')

In [5]:
print(len(data_2014.columns))
print(len(data_2015.columns))
print(len(data_2016.columns))
print(len(data_2017.columns))
print(len(data_2018.columns))
print(len(data_2019.columns))
print(len(data_2020.columns))
print(len(data_2021.columns))
print(len(data_2022.columns))
print(len(data_2023.columns))

26
26
26
26
26
26
26
26
26
26

In [91]:
#data_2015=data_2015.drop('Unnamed: 17',axis=1)
#data_2022=data_2022.drop('Unnamed: 17',axis=1)
#data_2023=data_2023.drop('Unnamed: 17',axis=1)

In [6]:
print(data_2014.columns)
renameDict = {'Schluesselzahl der Tat':'Schluessel','Gemeindeschlüssel':'Gemeindeschluessel','Tatverdaechtige insgesamt - Anzahl':'gesamt','Kinder bis unter 6 Jahre - Anzahl':'Alter_unter_6','Kinder 6 bis unter 8 Jahre Anzahl':'Alter_6_bis_8','Kinder 8 bis unter 10 Jahre - Anzahl':'Alter_8_bis_10','Kinder 10 bis unter 12 Jahre - Anzahl':'Alter_10_bis_12',
       'Kinder 12 bis unter 14 Jahre - Anzahl':'Alter_12_bis_14',
       'Kinder bis unter 14 Jahre insgesamt (Anzahl Spalte 5 bis 9)':'Kinder_gesamt',
        'Kinder bis unter 14 Jahre insgesamt (Anzahl Spalte 7 bis 11)':'Kinder_gesamt',
       'Jugendliche 14 bis unter 16 Jahre - Anzahl':'Alter_14_bis_16',
       'Jugendliche 16 bis unter 18 Jahre - Anzahl':'Alter_16_bis_18',
       'Jugendliche 14 bis unter 18 Jahre insgesamt (Anzahl Spalte 11 und 12)':'Jugendliche_gesamt',
              'Jugendliche 14 bis unter 18 Jahre insgesamt (Anzahl Spalte 13 und 14)':'Jugendliche_gesamt',
       'Heranwachsende 18 bis unter 21 Jahre - Anzahl':'Alter_18_bis_21',
       'Tatverdaechtige insgesamt unter 21 Jahre (Anzahl Spalte 10, 13 und 14)':'unter_21_gesamt',
              'Tatverdaechtige insgesamt unter 21 Jahre (Anzahl Spalte 12, 15 und 16)':'unter_21_gesamt',
       'Erwachsene 21 bis unter 23 Jahre - Anzahl':'Alter_21_bis_23',
       'Erwachsene 23 bis unter 25 Jahre - Anzahl':'Alter_23_bis_25',
       'Erwachsene 21 bis unter 25 Jahre (Anzahl Spalte 16 und 17)':'Alter_21_bis_25',
              'Erwachsene 21 bis unter 25 Jahre (Anzahl Spalte 18 und 19)':'Alter_21_bis_25',
       'Erwachsene 25 bis unter 30 Jahre':'Alter_25_bis_30', 'Erwachsene 30 bis unter 40 Jahre':'Alter_30_bis_40',
       'Erwachsene 40 bis unter 50 Jahre':'Alter_40_bis_50', 'Erwachsene 50 bis unter 60 Jahre':'Alter_50_bis_60',
       'Erwachsene 60 Jahre und aelter':'Alter_ueber_60',
       'Erwachsene ab 21 Jahre (Anzahl Spalten 18 bis 23)':'Erwachsene_gesamt',
              'Erwachsene ab 21 Jahre (Anzahl Spalten 20 bis 25)':'Erwachsene_gesamt'}
data_2014 = data_2014.rename(columns=renameDict)
data_2015 = data_2015.rename(columns=renameDict)
data_2016 = data_2016.rename(columns=renameDict)
data_2017 = data_2017.rename(columns=renameDict)
data_2018 = data_2018.rename(columns=renameDict)
data_2019 = data_2019.rename(columns=renameDict)
data_2020 = data_2020.rename(columns=renameDict)
data_2021 = data_2021.rename(columns=renameDict)
data_2022 = data_2022.rename(columns=renameDict)
data_2023 = data_2023.rename(columns=renameDict)

Index(['Schluesselzahl der Tat', 'Straftat', 'Gemeindeschlüssel', 'Stadt',
       'Sexus', 'Tatverdaechtige insgesamt - Anzahl',
       'Kinder bis unter 6 Jahre - Anzahl',
       'Kinder 6 bis unter 8 Jahre Anzahl',
       'Kinder 8 bis unter 10 Jahre - Anzahl',
       'Kinder 10 bis unter 12 Jahre - Anzahl',
       'Kinder 12 bis unter 14 Jahre - Anzahl',
       'Kinder bis unter 14 Jahre insgesamt (Anzahl Spalte 5 bis 9)',
       'Jugendliche 14 bis unter 16 Jahre - Anzahl',
       'Jugendliche 16 bis unter 18 Jahre - Anzahl',
       'Jugendliche 14 bis unter 18 Jahre insgesamt (Anzahl Spalte 11 und 12)',
       'Heranwachsende 18 bis unter 21 Jahre - Anzahl',
       'Tatverdaechtige insgesamt unter 21 Jahre (Anzahl Spalte 10, 13 und 14)',
       'Erwachsene 21 bis unter 23 Jahre - Anzahl',
       'Erwachsene 23 bis unter 25 Jahre - Anzahl',
       'Erwachsene 21 bis unter 25 Jahre (Anzahl Spalte 16 und 17)',
       'Erwachsene 25 bis unter 30 Jahre', 'Erwachsene 30 bis unter 40 Jahre',
       'Erwachsene 40 bis unter 50 Jahre', 'Erwachsene 50 bis unter 60 Jahre',
       'Erwachsene 60 Jahre und aelter',
       'Erwachsene ab 21 Jahre (Anzahl Spalten 18 bis 23)'],
      dtype='object')

In [7]:
data_2014["Jahr"]=2014
data_2015["Jahr"]=2015
data_2016["Jahr"]=2016
data_2017["Jahr"]=2017
data_2018["Jahr"]=2018
data_2019["Jahr"]=2019
data_2020["Jahr"]=2020
data_2021["Jahr"]=2021
data_2022["Jahr"]=2022
data_2023["Jahr"]=2023
print(data_2023.head())

  Schluessel              Straftat  Gemeindeschluessel     Stadt Sexus  \
0     ------  Straftaten insgesamt             5334002    Aachen     M
1     ------  Straftaten insgesamt             5334002    Aachen     W
2     ------  Straftaten insgesamt             5334002    Aachen     X
3     ------  Straftaten insgesamt             9761000  Augsburg     M
4     ------  Straftaten insgesamt             9761000  Augsburg     W

   gesamt  Alter_unter_6  Alter_6_bis_8  Alter_8_bis_10 Alter_10_bis_12  ...  \
0  10,065             15             15              25              48  ...
1   2,749             16              5              10              28  ...
2  12,814             31             20              35              76  ...
3   8,910              0             14              39              93  ...
4   3,040              2              3               8              42  ...

  Alter_21_bis_23 Alter_23_bis_25 Alter_21_bis_25 Alter_25_bis_30  \
0             646             706           1,352           1,572
1             120             108             228             265
2             766             814           1,580           1,837
3             646             665           1,311           1,268
4             152             132             284             300

  Alter_30_bis_40 Alter_40_bis_50 Alter_50_bis_60 Alter_ueber_60  \
0           2,374           1,377             801            492
1             550             385             264            188
2           2,924           1,762           1,065            680
3           1,808           1,217             754            498
4             640             443             280            214

  Erwachsene_gesamt  Jahr
0             7,968  2023
1             1,880  2023
2             9,848  2023
3             6,856  2023
4             2,161  2023

[5 rows x 27 columns]

In [34]:
data_2014.to_csv("Tatverdaechtige_2014_clean.csv",index=False)
data_2015.to_csv("Tatverdaechtige_2015_clean.csv",index=False)
data_2016.to_csv("Tatverdaechtige_2016_clean.csv",index=False)
data_2017.to_csv("Tatverdaechtige_2017_clean.csv",index=False)
data_2018.to_csv("Tatverdaechtige_2018_clean.csv",index=False)
data_2019.to_csv("Tatverdaechtige_2019_clean.csv",index=False)
data_2020.to_csv("Tatverdaechtige_2020_clean.csv",index=False)
data_2021.to_csv("Tatverdaechtige_2021_clean.csv",index=False)
data_2022.to_csv("Tatverdaechtige_2022_clean.csv",index=False)
data_2023.to_csv("Tatverdaechtige_2023_clean.csv",index=False)

In [8]:
print(data_2014.head())

  Schluessel              Straftat  Gemeindeschluessel     Stadt Sexus  \
0     ------  Straftaten insgesamt             5334002    Aachen     M
1     ------  Straftaten insgesamt             5334002    Aachen     W
2     ------  Straftaten insgesamt             5334002    Aachen     X
3     ------  Straftaten insgesamt             9761000  Augsburg     M
4     ------  Straftaten insgesamt             9761000  Augsburg     W

   gesamt  Alter_unter_6  Alter_6_bis_8  Alter_8_bis_10  Alter_10_bis_12  ...  \
0    9368              4              2               7               44  ...
1    2540              0              0               3                9  ...
2   11908              4              2              10               53  ...
3    8427              0              8              30               50  ...
4    2784              1              3               4               15  ...

   Alter_21_bis_23  Alter_23_bis_25  Alter_21_bis_25  Alter_25_bis_30  \
0              684              726             1410             1541
1              174              164              338              341
2              858              890             1748             1882
3              640              609             1249             1257
4              163              180              343              341

   Alter_30_bis_40  Alter_40_bis_50  Alter_50_bis_60  Alter_ueber_60  \
0             1886             1156              651             367
1              429              406              222             158
2             2315             1562              873             525
3             1778             1245              725             419
4              514              389              293             216

   Erwachsene_gesamt  Jahr
0               7011  2014
1               1894  2014
2               8905  2014
3               6673  2014
4               2096  2014

[5 rows x 27 columns]

In [9]:
print(len(data_2014)) # why is this one so long?
print(len(data_2015))
print(len(data_2016))
print(len(data_2017))
print(len(data_2018))
print(len(data_2019))
print(len(data_2020))
print(len(data_2021))
print(len(data_2022))
print(len(data_2023))

8892
9240
9840
9963
10206
10332
10332
10209
10332
10209

In [10]:
combined_df = pd.concat([data_2014, data_2015, data_2016,data_2017,data_2018,data_2019,data_2020,data_2021,data_2022,data_2023], ignore_index=True)

In [15]:
#combined_df.replace("------", 0, inplace=True)
numeric_columns = ["Schluessel","Gemeindeschluessel","gesamt","Alter_unter_6","Alter_6_bis_8","Alter_8_bis_10","Alter_10_bis_12",'Alter_12_bis_14', 'Kinder_gesamt',
       'Alter_14_bis_16', 'Alter_16_bis_18', 'Jugendliche_gesamt',
       'Alter_18_bis_21', 'unter_21_gesamt', 'Alter_21_bis_23',
       'Alter_23_bis_25', 'Alter_21_bis_25', 'Alter_25_bis_30',
       'Alter_30_bis_40', 'Alter_40_bis_50', 'Alter_50_bis_60',
       'Alter_ueber_60', 'Erwachsene_gesamt']
for column in numeric_columns:
    combined_df[column] = pd.to_numeric(combined_df[column].astype(str).str.replace(",", ""), errors="coerce")
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99555 entries, 0 to 99554
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Schluessel          70431 non-null  float64
 1   Straftat            99555 non-null  object
 2   Gemeindeschluessel  99555 non-null  int64
 3   Stadt               99555 non-null  object
 4   Sexus               99555 non-null  object
 5   gesamt              88721 non-null  float64
 6   Alter_unter_6       99555 non-null  int64
 7   Alter_6_bis_8       99555 non-null  int64
 8   Alter_8_bis_10      99555 non-null  int64
 9   Alter_10_bis_12     99542 non-null  float64
 10  Alter_12_bis_14     99493 non-null  float64
 11  Kinder_gesamt       99404 non-null  float64
 12  Alter_14_bis_16     99374 non-null  float64
 13  Alter_16_bis_18     99243 non-null  float64
 14  Jugendliche_gesamt  98736 non-null  float64
 15  Alter_18_bis_21     98687 non-null  float64
 16  unter_21_gesamt     96582 non-null  float64
 17  Alter_21_bis_23     99059 non-null  float64
 18  Alter_23_bis_25     99092 non-null  float64
 19  Alter_21_bis_25     98203 non-null  float64
 20  Alter_25_bis_30     97924 non-null  float64
 21  Alter_30_bis_40     96688 non-null  float64
 22  Alter_40_bis_50     97985 non-null  float64
 23  Alter_50_bis_60     98809 non-null  float64
 24  Alter_ueber_60      99098 non-null  float64
 25  Erwachsene_gesamt   91126 non-null  float64
 26  Jahr                99555 non-null  int64
dtypes: float64(19), int64(5), object(3)
memory usage: 20.5+ MB
None

In [16]:
print(combined_df.head())

   Schluessel              Straftat  Gemeindeschluessel     Stadt Sexus  \
0         NaN  Straftaten insgesamt             5334002    Aachen     M
1         NaN  Straftaten insgesamt             5334002    Aachen     W
2         NaN  Straftaten insgesamt             5334002    Aachen     X
3         NaN  Straftaten insgesamt             9761000  Augsburg     M
4         NaN  Straftaten insgesamt             9761000  Augsburg     W

    gesamt  Alter_unter_6  Alter_6_bis_8  Alter_8_bis_10  Alter_10_bis_12  \
0   9368.0              4              2               7             44.0
1   2540.0              0              0               3              9.0
2  11908.0              4              2              10             53.0
3   8427.0              0              8              30             50.0
4   2784.0              1              3               4             15.0

   ...  Alter_21_bis_23  Alter_23_bis_25  Alter_21_bis_25  Alter_25_bis_30  \
0  ...            684.0            726.0           1410.0           1541.0
1  ...            174.0            164.0            338.0            341.0
2  ...            858.0            890.0           1748.0           1882.0
3  ...            640.0            609.0           1249.0           1257.0
4  ...            163.0            180.0            343.0            341.0

   Alter_30_bis_40  Alter_40_bis_50  Alter_50_bis_60  Alter_ueber_60  \
0           1886.0           1156.0            651.0           367.0
1            429.0            406.0            222.0           158.0
2           2315.0           1562.0            873.0           525.0
3           1778.0           1245.0            725.0           419.0
4            514.0            389.0            293.0           216.0

   Erwachsene_gesamt  Jahr
0             7011.0  2014
1             1894.0  2014
2             8905.0  2014
3             6673.0  2014
4             2096.0  2014

[5 rows x 27 columns]

In [17]:
combined_df.to_csv("Tatverdaechtige_combined_clean.csv",index=False)