In [2]:
import pandas as pd #Import library

In [3]:
Opfer_2014=pd.read_csv("OpferInsgesamt_2014.csv",encoding='ISO-8859-1', sep=';')

In [4]:
print(Opfer_2014.head(5)) #top 5 rows

  Schluesselzahl der Tat              Straftat  Gemeindeschlüssel     Stadt  \
0                 ------  Straftaten insgesamt            5334002    Aachen
1                 ------  Straftaten insgesamt            5334002    Aachen
2                 ------  Straftaten insgesamt            5334002    Aachen
3                 ------  Straftaten insgesamt            9761000  Augsburg
4                 ------  Straftaten insgesamt            9761000  Augsburg

  Fallstatus  Opfer insgesamt - Anzahl  Opfer insgesamt männlich- Anzahl  \
0      voll.                      4033                              2377
1      vers.                       327                               206
2      insg.                      4360                              2583
3      voll.                      4599                              2940
4      vers.                       544                               410

   Opfer insgesamt weiblich- Anzahl  Kinder bis unter 6 Jahre - Anzahl  \
0                              1656                                 15
1                               121                                  3
2                              1777                                 18
3                              1659                                 30
4                               134                                  3

   Kinder bis unter 6 Jahre männlich- Anzahl  ...  \
0                                          6  ...
1                                          0  ...
2                                          6  ...
3                                         21  ...
4                                          1  ...

   Erwachsene 40 bis unter 50 Jahre - weiblich  \
0                                          236
1                                           16
2                                          252
3                                          244
4                                           19

   Erwachsene 50 bis unter 60 Jahre  \
0                               389
1                                32
2                               421
3                               356
4                                50

   Erwachsene 50 bis unter 60 Jahre - männlich  \
0                                          234
1                                           21
2                                          255
3                                          249
4                                           38

   Erwachsene 50 bis unter 60 Jahre - weiblich  \
0                                          155
1                                           11
2                                          166
3                                          107
4                                           12

   Erwachsene 60 Jahre und aelter  Erwachsene 60 Jahre und aelter - männlich  \
0                             236                                        132
1                              26                                         10
2                             262                                        142
3                             198                                         94
4                              13                                          7

   Erwachsene 60 Jahre und aelter - weiblich  Erwachsene ab 21 Jahre  \
0                                        104                    3191
1                                         16                     256
2                                        120                    3447
3                                        104                    3513
4                                          6                     455

   Erwachsene ab 21 Jahre - männlich  Erwachsene ab 21 Jahre - weiblich
0                               1888                               1303
1                                163                                 93
2                               2051                               1396
3                               2275                               1238
4                                343                                112

[5 rows x 68 columns]

In [7]:
print(Opfer_2014.shape) #print shape

(3420, 68)

In [8]:
print(Opfer_2014.isnull().sum())

Schluesselzahl der Tat                       0
Straftat                                     0
Gemeindeschlüssel                            0
Stadt                                        0
Fallstatus                                   0
                                            ..
Erwachsene 60 Jahre und aelter - männlich    0
Erwachsene 60 Jahre und aelter - weiblich    0
Erwachsene ab 21 Jahre                       0
Erwachsene ab 21 Jahre - männlich            0
Erwachsene ab 21 Jahre - weiblich            0
Length: 68, dtype: int64

In [9]:
print(Opfer_2014.dtypes) #print the data type of each column

Schluesselzahl der Tat                       object
Straftat                                     object
Gemeindeschlüssel                             int64
Stadt                                        object
Fallstatus                                   object
                                              ...
Erwachsene 60 Jahre und aelter - männlich     int64
Erwachsene 60 Jahre und aelter - weiblich     int64
Erwachsene ab 21 Jahre                        int64
Erwachsene ab 21 Jahre - männlich             int64
Erwachsene ab 21 Jahre - weiblich             int64
Length: 68, dtype: object

In [12]:
print(Opfer_2014.describe())

       Gemeindeschlüssel  Opfer insgesamt - Anzahl  \
count       3.420000e+03               3420.000000
mean        7.185043e+06                635.742690
std         3.421098e+06               2626.593122
min         1.002000e+06                  0.000000
25%         5.121500e+06                  7.000000
50%         5.915500e+06                 48.500000
75%         8.606000e+06                411.000000
max         1.605300e+07              76830.000000

       Opfer insgesamt männlich- Anzahl  Opfer insgesamt weiblich- Anzahl  \
count                       3420.000000                       3420.000000
mean                         394.032164                        241.710526
std                         1608.739867                       1029.845339
min                            0.000000                          0.000000
25%                            2.000000                          3.000000
50%                           28.000000                         18.000000
75%                          266.500000                        142.000000
max                        47018.000000                      29812.000000

       Kinder bis unter 6 Jahre - Anzahl  \
count                        3420.000000
mean                            3.685380
std                            23.197459
min                             0.000000
25%                             0.000000
50%                             0.000000
75%                             1.000000
max                           842.000000

       Kinder bis unter 6 Jahre männlich- Anzahl  \
count                                3420.000000
mean                                    2.071930
std                                    12.386794
min                                     0.000000
25%                                     0.000000
50%                                     0.000000
75%                                     1.000000
max                                   439.000000

       Kinder bis unter 6 Jahre weiblich - Anzahl  \
count                                 3420.000000
mean                                     1.613450
std                                     10.885979
min                                      0.000000
25%                                      0.000000
50%                                      0.000000
75%                                      1.000000
max                                    403.000000

       Kinder 6 bis unter 8 Jahre Anzahl  \
count                        3420.000000
mean                            2.405263
std                            14.751350
min                             0.000000
25%                             0.000000
50%                             0.000000
75%                             1.000000
max                           480.000000

       Kinder 6 bis unter 8 Jahre männlich - Anzahl  \
count                                   3420.000000
mean                                       1.457310
std                                        9.136205
min                                        0.000000
25%                                        0.000000
50%                                        0.000000
75%                                        1.000000
max                                      293.000000

       Kinder 6 bis unter 8 Jahre weiblich - Anzahl  ...  \
count                                   3420.000000  ...
mean                                       0.947953  ...
std                                        5.722212  ...
min                                        0.000000  ...
25%                                        0.000000  ...
50%                                        0.000000  ...
75%                                        0.000000  ...
max                                      187.000000  ...

       Erwachsene 40 bis unter 50 Jahre - weiblich  \
count                                  3420.000000
mean                                     36.583041
std                                     164.620440
min                                       0.000000
25%                                       0.000000
50%                                       2.000000
75%                                      19.000000
max                                    4798.000000

       Erwachsene 50 bis unter 60 Jahre  \
count                       3420.000000
mean                          57.571930
std                          252.346899
min                            0.000000
25%                            1.000000
50%                            5.000000
75%                           35.000000
max                         7741.000000

       Erwachsene 50 bis unter 60 Jahre - männlich  \
count                                  3420.000000
mean                                     36.594152
std                                     161.980584
min                                       0.000000
25%                                       0.000000
50%                                       3.000000
75%                                      24.000000
max                                    5052.000000

       Erwachsene 50 bis unter 60 Jahre - weiblich  \
count                                  3420.000000
mean                                     20.977778
std                                      90.803151
min                                       0.000000
25%                                       0.000000
50%                                       2.000000
75%                                      12.000000
max                                    2689.000000

       Erwachsene 60 Jahre und aelter  \
count                     3420.000000
mean                        35.554971
std                        149.027795
min                          0.000000
25%                          0.000000
50%                          4.000000
75%                         24.000000
max                       4572.000000

       Erwachsene 60 Jahre und aelter - männlich  \
count                                3420.000000
mean                                   19.830409
std                                    83.038829
min                                     0.000000
25%                                     0.000000
50%                                     2.000000
75%                                    13.000000
max                                  2489.000000

       Erwachsene 60 Jahre und aelter - weiblich  Erwachsene ab 21 Jahre  \
count                                3420.000000             3420.000000
mean                                   15.724561              499.093567
std                                    66.540702             2098.311883
min                                     0.000000                0.000000
25%                                     0.000000                6.000000
50%                                     2.000000               36.000000
75%                                    11.000000              321.000000
max                                  2083.000000            61749.000000

       Erwachsene ab 21 Jahre - männlich  Erwachsene ab 21 Jahre - weiblich
count                        3420.000000                        3420.000000
mean                          309.566667                         189.526901
std                          1291.248506                         816.240773
min                             0.000000                           0.000000
25%                             1.000000                           3.000000
50%                            20.000000                          14.000000
75%                           205.000000                         105.250000
max                         38235.000000                       23514.000000

[8 rows x 64 columns]

In [15]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming Opfer_2014 is your dataframe
# Create a heatmap of the correlation matrix
#plt.figure(figsize=(10, 8))
#sns.heatmap(Opfer_2014.corr(), annot=True, cmap="coolwarm", fmt=".2f", linewidths=0.5)

# Display the heatmap
#plt.show()