In [1]:
import pandas as pd #Import library

In [4]:
Opfer_2014=pd.read_csv("Opfer_Tabelle/OpferInsgesamt_2014.csv",encoding='ISO-8859-1', sep=';')

In [5]:
print(Opfer_2014.head(5)) #top 5 rows

                        1                     2         Unnamed: 2 Unnamed: 3  \
0  Schluesselzahl der Tat              Straftat  Gemeindeschlüssel      Stadt
1                  ------  Straftaten insgesamt            5334002     Aachen
2                  ------  Straftaten insgesamt            5334002     Aachen
3                  ------  Straftaten insgesamt            5334002     Aachen
4                  ------  Straftaten insgesamt            9761000   Augsburg

            3                         4                                4a  \
0  Fallstatus  Opfer insgesamt - Anzahl  Opfer insgesamt männlich- Anzahl
1       voll.                      4033                              2377
2       vers.                       327                               206
3       insg.                      4360                              2583
4       voll.                      4599                              2940

                                 4b                                  5  \
0  Opfer insgesamt weiblich- Anzahl  Kinder bis unter 6 Jahre - Anzahl
1                              1656                                 15
2                               121                                  3
3                              1777                                 18
4                              1659                                 30

                                          5a  ...  \
0  Kinder bis unter 6 Jahre männlich- Anzahl  ...
1                                          6  ...
2                                          0  ...
3                                          6  ...
4                                         21  ...

                                           21b  \
0  Erwachsene 40 bis unter 50 Jahre - weiblich
1                                          236
2                                           16
3                                          252
4                                          244

                                 22  \
0  Erwachsene 50 bis unter 60 Jahre
1                               389
2                                32
3                               421
4                               356

                                           22a  \
0  Erwachsene 50 bis unter 60 Jahre - männlich
1                                          234
2                                           21
3                                          255
4                                          249

                                           22b  \
0  Erwachsene 50 bis unter 60 Jahre - weiblich
1                                          155
2                                           11
3                                          166
4                                          107

                               23                                        23a  \
0  Erwachsene 60 Jahre und aelter  Erwachsene 60 Jahre und aelter - männlich
1                             236                                        132
2                              26                                         10
3                             262                                        142
4                             198                                         94

                                         23b                      24  \
0  Erwachsene 60 Jahre und aelter - weiblich  Erwachsene ab 21 Jahre
1                                        104                    3191
2                                         16                     256
3                                        120                    3447
4                                        104                    3513

                                 24a                                24b
0  Erwachsene ab 21 Jahre - männlich  Erwachsene ab 21 Jahre - weiblich
1                               1888                               1303
2                                163                                 93
3                               2051                               1396
4                               2275                               1238

[5 rows x 68 columns]

In [6]:
print(Opfer_2014.shape) #print shape

(3421, 68)

In [7]:
print(Opfer_2014.isnull().sum())

1             0
2             0
Unnamed: 2    0
Unnamed: 3    0
3             0
             ..
23a           0
23b           0
24            0
24a           0
24b           0
Length: 68, dtype: int64

In [8]:
print(Opfer_2014.dtypes) #print the data type of each column

1             object
2             object
Unnamed: 2    object
Unnamed: 3    object
3             object
               ...
23a           object
23b           object
24            object
24a           object
24b           object
Length: 68, dtype: object

In [9]:
print(Opfer_2014.describe())

             1                     2 Unnamed: 2 Unnamed: 3      3     4    4a  \
count     3421                  3421       3421       3421   3421  3421  3421
unique      16                    16         77         77      4  1067   880
top     ------  Straftaten insgesamt    1002000       Kiel  voll.     0     0
freq       228                   228         45         45   1140   247   571

          4b     5    5a  ...   21b    22   22a   22b    23   23a   23b    24  \
count   3421  3421  3421  ...  3421  3421  3421  3421  3421  3421  3421  3421
unique   708    88    60  ...   276   355   274   203   260   196   170   956
top        0     0     0  ...     0     0     0     0     0     0     0     0
freq     362  2238  2434  ...  1014   812  1199  1153   932  1305  1214   267

         24a   24b
count   3421  3421
unique   805   653
top        0     0
freq     612   384

[4 rows x 68 columns]

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming Opfer_2014 is your dataframe
# Create a heatmap of the correlation matrix
#plt.figure(figsize=(10, 8))
#sns.heatmap(Opfer_2014.corr(), annot=True, cmap="coolwarm", fmt=".2f", linewidths=0.5)

# Display the heatmap
#plt.show()